/* Mixins */
body {
  background: #000;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
  /* Code for Firefox */
  color: #000;
  background: #fff;
}

::selection {
  color: #000;
  background: #fff;
}

.einblenden {
  animation-name: einblenden;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

.faktor1 {
  animation-name: einblenden;
  animation-duration: 6s;
  animation-iteration-count: 1;
}

h1 {
  font-family: 'Formular-Medium', sans-serif;
  color: #fff;
  font-weight: normal;
  font-size: 9.2vw;
  line-height: 7.8vw;
  letter-spacing: -0.04em;
  position: relative;
  animation-name: einblenden;
  animation-duration: 3s;
  animation-iteration-count: 1;
  text-transform: lowercase;
}
h1:before {
  content: '';
  position: relative;
  top: 14%;
  display: block;
  margin-left: -13vw;
  width: 10vw;
  height: 2px;
  background-color: #4a4a4c;
  transition-delay: .6s;
  transition: width .5s ease-out;
}

.sh--logotype-fixed {
  transform: rotate(-90deg) translate3d(1.6vw, 0, 0);
  padding: 1em 1.5em;
  text-transform: lowercase;
  position: fixed;
  right: 0;
  bottom: 140px;
}
.sh--logotype-fixed a {
  font-family: 'Formular-Medium', sans-serif;
  color: #fff;
}
.sh--logotype-fixed:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -4.5vw;
  width: 4vw;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.4);
  transition-delay: .3s;
  transition: width .7s ease-out;
}

/* images */
figure {
  margin: 0em;
  position: relative;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  overflow: hidden;
}
figure img {
  filter: grayscale(1);
}
figure span.layer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0%;
  background: #ffed45;
  mix-blend-mode: multiply;
  opacity: 0;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
figure span.pink {
  background: #f3cfe0;
}
figure span.tuerkis {
  background: #1db9cb;
}
figure span.loonred {
  background: #d5173c;
}
figure:hover span {
  opacity: 0.8;
  bottom: 0;
  height: 100%;
}
figure .logofont {
  position: absolute;
  opacity: 0;
  text-transform: uppercase;
  padding: 1em;
  font-size: 2em;
  font-weight: bold;
  bottom: -70px;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
figure .logofont span {
  background: #fff;
  color: #000;
  padding: 5px;
}
figure:hover .logofont {
  opacity: 1;
  bottom: 0px;
}

.sh--pr-nr span {
  letter-spacing: -0.25em;
  margin-right: 0.1em;
}

.ref--container {
  display: inline-block;
}

#sec--contact {
  min-height: 500px;
  margin: 10em 0em 0em 0em;
}
#sec--contact a.sh--btn {
  background: #fff;
  padding: 20px 20px;
  color: #000;
  text-transform: lowercase;
  font-weight: bold;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
#sec--contact a.sh--btn:hover {
  opacity: 0.5;
}

@font-face {
  font-family: 'Formular';
  src: url("../fonts/ci-font.eot");
  src: url("../fonts/ci-font.eot?#iefix") format("embedded-opentype"), url("../fonts/ci-font.woff2") format("woff2"), url("../fonts/ci-font.woff") format("woff"), url("../fonts/ci-font.ttf") format("truetype");
}
@font-face {
  font-family: 'Formular-Medium';
  src: url("../fonts/ci-font-medium.eot");
  src: url("../fonts/ci-font-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/ci-font-medium.woff2") format("woff2"), url("../fonts/ci-font-medium.woff") format("woff"), url("../fonts/ci-font-medium.ttf") format("truetype");
}
@keyframes einblenden {
  0% {
    opacity: 0;
    bottom: -20px;
  }
  25% {
    opacity: 0;
    bottom: -20px;
  }
  75% {
    opacity: 0.6;
    bottom: -8px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
@-webkit-keyframes einblenden {
  0% {
    opacity: 0;
    bottom: -20px;
  }
  25% {
    opacity: 0.2;
    bottom: -15px;
  }
  75% {
    opacity: 0.6;
    bottom: -8px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
@keyframes loading {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
.white-balken {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 7px;
  background: #fff;
  animation-name: loading;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

#sec--top {
  /* background: url("../images/b1.jpg"); */
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  min-height: 1050px;
}

body.sh--referenz {
  background: #fff;
  color: #000;
}
body.sh--referenz .white-balken {
  background: #000;
}
body.sh--referenz button {
  position: absolute;
  height: 60px;
  width: 40px;
  right: 0em;
}
body.sh--referenz #cross {
  background: #000;
  width: 2px;
  height: 35px;
  margin-left: 33px;
  transform: rotate(45deg);
  position: relative;
  margin-top: 1em;
  right: 1.5em;
}
body.sh--referenz #cross:before {
  background: #000;
  content: "";
  width: 35px;
  height: 2px;
  position: absolute;
  top: 15px;
  left: -15px;
}
body.sh--referenz h1 {
  color: #000;
}
body.sh--referenz #sec--top-ref {
  min-height: 600px;
  display: flex;
  align-items: center;
}
body.sh--referenz section.lichtbox {
  background: #ffed45;
}
body.sh--referenz section.purpur {
  background: #f3cfe0;
}
body.sh--referenz #sec--contact a.sh--btn {
  background: #000;
  color: #fff;
}
body.sh--referenz figure img {
  filter: grayscale(1);
  -webkit-transition: all, 0.7s ease-out;
  -moz-transition: all, 0.7s ease-out;
  -ms-transition: all, 0.7s ease-out;
  -o-transition: all, 0.7s ease-out;
  transition: all, 0.7s ease-out;
}
body.sh--referenz figure img:hover {
  filter: grayscale(0);
}

/*# sourceMappingURL=sites.css.map */
