html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0px;
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #0a0a0a;
  background: #fefefe;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #261d0e;
  font-family: 'rajdhaniregular';
  font-weight: normal;
  font-style: normal;
  background: gray;
}

footer,
header,
section {
  display: block;
}

a {
  background-color: transparent;
  color: #2199e8;
  text-decoration: none;
  line-height: inherit;
  cursor: pointer;
  color: #4a3a8f;
}

img {
  border: 0px;
  border: 0;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle;
}

button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0px;
  overflow: visible;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
  line-height: 1;
}

button {
  overflow: visible;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
  line-height: 1;
}

button {
  text-transform: none;
  overflow: visible;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
  line-height: 1;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
  overflow: visible;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
  line-height: 1;
}

.foundation-mq {
  font-family: 'small=0em&medium=40em&large=64em&xlarge=75em&xxlarge=90em';
  font-family: "small=0em&medium=40em&large=64em&xlarge=75em&xxlarge=90em";
}

html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: inherit;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(10, 10, 10);
  background-color: rgb(254, 254, 254);
  -webkit-font-smoothing: antialiased;
  background-position: initial initial;
  background-repeat: initial initial;
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  color: #0a0a0a;
  background: #fefefe;
  -moz-osx-font-smoothing: grayscale;
  color: #261d0e;
  font-family: 'rajdhaniregular';
  font-weight: normal;
  font-style: normal;
  background: gray;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button {
  -webkit-appearance: none;
  background-color: transparent;
  padding: 0px;
  border: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  line-height: 1;
  background-position: initial initial;
  background-repeat: initial initial;
  overflow: visible;
  -moz-appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
}

.row {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

.row::after,
.row::before {
  content: ' ';
  display: table;
}

.row::after {
  clear: both;
}

.columns {
  width: 100%;
  float: left;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

@media screen and (min-width: 40em) {
  .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

.columns:last-child:not(:first-child) {
  float: right;
}

.small-12 {
  width: 100%;
}

@media screen and (min-width: 40em) {
  .medium-4 {
    width: 33.33333%;
  }

  .medium-8 {
    width: 66.66667%;
  }
}

@media screen and (min-width: 64em) {
  .large-3 {
    width: 25%;
  }

  .large-6 {
    width: 50%;
  }

  .large-9 {
    width: 75%;
  }
}

div,
h2,
h3,
li,
ul {
  margin: 0px;
  padding: 0px;
}

h2,
h3 {
  font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: inherit;
  text-rendering: optimizelegibility;
  margin-top: 0px;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

h2 {
  font-size: 1.25rem;
  color: #4a3a8f;
  font-family: 'rajdhanibold';
  text-transform: uppercase;
}

h3 {
  font-size: 1.1875rem;
  color: #4a3a8f;
  font-family: 'rajdhaniregular';
  text-transform: uppercase;
}

@media screen and (min-width: 40em) {
  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.9375rem;
  }
}

a {
  color: rgb(33, 153, 232);
  text-decoration: none;
  line-height: inherit;
  cursor: pointer;
  background-color: transparent;
  color: #2199e8;
  color: #4a3a8f;
}

a img {
  border: 0px;
  border: 0;
}

ul {
  line-height: 1.6;
  margin-bottom: 1rem;
  list-style-position: outside;
  list-style-type: disc;
}

li {
  font-size: inherit;
}

ul {
  list-style-type: disc;
}

ul {
  margin-left: 1.25rem;
  list-style-type: disc;
}

@media print {
  * {
    background-color: transparent !important;
    color: rgb(0, 0, 0) !important;
    box-shadow: none !important;
    text-shadow: none !important;
    background-position: initial initial !important;
    background-repeat: initial initial !important;
    background: transparent!important;
    color: #000!important;
    box-shadow: none!important;
    text-shadow: none!important;
  }

  a {
    text-decoration: underline;
  }

  a[href]::after {
    content: ' (', attr(href), ')';
  }

  img {
    page-break-inside: avoid;
    max-width: 100%!important;
  }

  img {
    max-width: 100% !important;
    max-width: 100%!important;
  }

  h2,
  h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

[type="button"] {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-appearance: none;
}

.menu {
  margin: 0px;
  list-style-type: none;
  margin: 0;
}

.menu > li {
  display: table-cell;
  vertical-align: middle;
}

.menu > li > a {
  display: block;
  padding: 0.7rem 1rem;
  line-height: 1;
}

.menu a {
  margin-bottom: 0px;
}

.menu > li {
  display: table-cell;
}

.menu.vertical > li {
  display: block;
}

@media screen and (min-width: 40em) {
  .menu.medium-vertical > li {
    display: block;
  }
}

@media screen and (min-width: 64em) {
  .menu.large-horizontal > li {
    display: table-cell;
  }
}

.menu-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 20px;
  height: 16px;
}

.menu-icon::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(254, 254, 254);
  top: 0px;
  left: 0px;
  box-shadow: rgb(254, 254, 254) 0px 7px 0px, rgb(254, 254, 254) 0px 14px 0px;
  background-position: initial initial;
  background-repeat: initial initial;
}

.dropdown.menu.vertical > li > a::after {
  right: 14px;
  margin-top: -3px;
}

@media screen and (min-width: 40em) {
  .dropdown.menu.medium-vertical > li > a::after {
    right: 14px;
    margin-top: -3px;
  }
}

body,
html {
  height: 100%;
}

.title-bar {
  background-color: rgb(10, 10, 10);
  color: rgb(254, 254, 254);
  padding: 0.5rem;
  background-position: initial initial;
  background-repeat: initial initial;
  background: #0a0a0a;
  color: #fefefe;
  padding: .5rem;
}

.title-bar::after,
.title-bar::before {
  content: ' ';
  display: table;
}

.title-bar::after {
  clear: both;
}

.title-bar .menu-icon {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-left: .25rem;
  margin-right: .25rem;
}

.title-bar-title {
  vertical-align: middle;
}

.title-bar-title {
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
}

[class*="column"] + [class*="column"]:last-child {
  float: left !important;
}

body {
  color: rgb(38, 29, 14);
  font-family: rajdhaniregular;
  font-weight: normal;
  font-style: normal;
  background-color: gray;
  background-position: initial initial;
  background-repeat: initial initial;
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #0a0a0a;
  background: #fefefe;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #261d0e;
  font-family: 'rajdhaniregular';
  background: gray;
}

a {
  color: rgb(74, 58, 143);
  background-color: transparent;
  color: #2199e8;
  text-decoration: none;
  line-height: inherit;
  cursor: pointer;
  color: #4a3a8f;
}

h2 {
  color: rgb(74, 58, 143);
  font-family: rajdhanibold;
  text-transform: uppercase;
  font-size: 1.25rem;
  color: #4a3a8f;
  font-family: 'rajdhanibold';
}

h3 {
  color: rgb(74, 58, 143);
  font-family: rajdhaniregular;
  text-transform: uppercase;
  font-size: 1.1875rem;
  color: #4a3a8f;
  font-family: 'rajdhaniregular';
}

.center {
  text-align: center;
}

@media only screen and (max-width: 39.9375em) {
  .title-bar {
    background-color: rgb(74, 58, 143);
    color: rgb(255, 255, 255);
    background-color: #4a3a8f;
    color: #ffffff;
  }
}

@media only screen and (max-width: 63.9375em) and (min-width: 40em) {
  .title-bar {
    background-color: rgb(74, 58, 143);
    color: rgb(255, 255, 255);
  }
}

@media only screen and (min-width: 64em) {
  #nav-top {
    background-color: transparent;
  }

  .title-bar {
    background-color: rgb(74, 58, 143);
    color: rgb(255, 255, 255);
    background-color: #4a3a8f;
    color: #ffffff;
  }

  .menu.large-horizontal > li {
    display: block;
  }

  .menu > li > a {
    display: inline-block;
    padding: 0.25rem 0.4rem;
    line-height: 1;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all, 0.7s;
    -webkit-transition: all, 0.7s;
    background-position: initial initial;
    background-repeat: initial initial;
    padding: .25rem 0.4rem;
    background: rgba(255, 255, 255, 0.8);
    -moz-transition: all, 0.7s;
    -ms-transition: all, 0.7s;
    -o-transition: all, 0.7s;
  }

  .menu {
    text-align: right;
  }

  .topic_1401 {
    margin-top: 1em;
  }
}

header {
  padding: 2em 0em;
}

header #logo a {
  display: block;
}

footer {
  background-color: rgb(220, 220, 220);
  background-position: initial initial;
  background-repeat: initial initial;
  background: gainsboro;
}

.teaser {
  background-color: rgb(74, 58, 143);
  color: rgb(255, 255, 255);
  display: table;
  min-height: 400px;
  height: 400px;
  transition: all, 0.7s;
  -webkit-transition: all, 0.7s;
  background-position: initial initial;
  background-repeat: initial initial;
  background: #4a3a8f;
  color: #fff;
  -moz-transition: all, 0.7s;
  -ms-transition: all, 0.7s;
  -o-transition: all, 0.7s;
}

.teaser .teaser-content {
  display: table-cell;
  vertical-align: middle;
}

.teaser h2 {
  color: rgb(255, 255, 255);
  margin-bottom: 0px;
  padding: 0px;
  color: #fff;
  margin-bottom: 0;
  padding: 0;
}

.teaser h3 {
  color: rgb(255, 255, 255);
  margin-top: -9px;
  color: #fff;
}

.teaser button {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.498039);
  padding: 0.75em 1.75em;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
  transition: all, 0.7s;
  -webkit-transition: all, 0.7s;
  margin-top: 1.25em;
  background-position: initial initial;
  background-repeat: initial initial;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2em;
  -moz-transition: all, 0.7s;
  -ms-transition: all, 0.7s;
  -o-transition: all, 0.7s;
}

.teaser-2484 {
  background-image: url(../images/industrieboden.jpg);
  background-position: 0% 50%;
  background-repeat: no-repeat no-repeat;
  background: url("../images/industrieboden.jpg");
  background-position: left center;
  background-repeat: no-repeat;
}

.teaser-2484 h2,
.teaser-2484 h3 {
  color: rgb(74, 58, 143);
  color: #4a3a8f;
}

.teaser-2487 {
  background-image: url(../images/fraesen.jpg);
  background-position: 0% 50%;
  background-repeat: no-repeat no-repeat;
  background: url("../images/fraesen.jpg");
  background-position: left center;
  background-repeat: no-repeat;
}

.teaser-2487 h2,
.teaser-2487 h3 {
  color: rgb(74, 58, 143);
  color: #4a3a8f;
}