#logo {
  @include animation('show-in 5s 1');
  text-align:center;
  position:relative;
  margin-top: -10em;
  width: 100%;
}

.content {
  margin-top:3em;
  @include animation('show-in 7s 1');

  h1 {
    color: $white;
    font-family: 'rajdhaniregular';
  }
}

