@font-face {
  font-family: 'Formular';
  src: url("../fonts/ci-font.eot");
  src: url("../fonts/ci-font.eot?#iefix") format('embedded-opentype'),url("../fonts/ci-font.woff2") format('woff2'),
  url("../fonts/ci-font.woff") format('woff'),
  url("../fonts/ci-font.ttf") format('truetype');
}

@font-face {
  font-family: 'Formular-Medium';
  src: url("../fonts/ci-font-medium.eot");
  src: url("../fonts/ci-font-medium.eot?#iefix") format('embedded-opentype'),url("../fonts/ci-font-medium.woff2") format('woff2'),
  url("../fonts/ci-font-medium.woff") format('woff'),
  url("../fonts/ci-font-medium.ttf") format('truetype');
}