$primary-color: #db2537;
$primary-text-color: #261d0e;
$secondary-text-color: #ffffff;
$primary-link-color: $primary-color;

$ci-color-light: #f64d5e;
$ci-color-dark: #a71c2a;

$white: #fff;
$black: #000;

$menu-bg-color: transparent;
$menu-text-color: #000;

$menu-bg-active-color: rgba(49,39,19,0.9);
$menu-text-active-color: #fff;

$primary-h1-color: $primary-color;
$primary-h2-color: $primary-color;
$primary-h3-color: $primary-color;
$primary-h4-color: $primary-color;
$primary-h5-color: $primary-color;
$primary-h6-color: $primary-color;

$desktop-menu-bg-color: $menu-bg-color;
$desktop-menu-text-color: $menu-text-color;
$desktop-menu-bg-active-color: $menu-bg-active-color;
$desktop-menu-bg-active-text-color: $menu-text-active-color;

$mobile-menu-bg-color: $primary-color;
$mobile-menu-text-color: $secondary-text-color;
$mobile-menu-bg-active-color: #4a3a8f;
$mobile-menu-bg-active-text-color: $secondary-text-color;


/* Transitions */

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/* Browser Opacity */

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

/* Border Radius */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}


/* rem-Font with Pixel Fallback */
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}
