@media print {
 /* Modale ausblenden */
  div:not(.reveal-modal) {  display: inherit !important;  }

 /* Link ausblenden */
  a[href]:after { content: none !important; }
  a:after, a:link:after { content: none!important;  }


  /* Umbrüche verhindern */
  table, img {
    page-break-inside: avoid;
  }

  /* Umbruch erzwingen */
  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  }



}