
/** Small */
@media only screen and (max-width: 39.9375em) {

  @import 'navigation-mobile';

  #lightbox-container-image-data-box{
    width: 90% !important;
  }

  #lightbox-container-image-box{
    width: 90% !important;
    height: auto !important;
  }

  #lightbox-secNav-btnClose {
    position: absolute !important;
    z-index: 1111 !important;
  }
  #lightbox-nav a {
    position: absolute !important;
    z-index: 1 !important;
  }

  .columns.small-collapse-left{
    padding-left: 0px;
  }
  .columns.small-collapse-right{
    padding-right: 0px;
  }
  .columns.small-collapse{
    padding-left: 0px;
    padding-right: 0px;
  }
  #teaser_container_out{
    top:0px;
  }

  .teaser {
    background-size: cover!important;
  }

}